<!DOCTYPE html>
<html lang="es">  
  <head>    
    <title>{% block title %}Utilizando Twig{% endblock %}</title>    
    <meta charset="UTF-8">
    <meta name="title" content="Título de la WEB">
    <meta name="description" content="Descripción de la WEB">    
    <link href="elmundo/estilos.css" rel="stylesheet" type="text/css"/>    
  </head>  
  <body> 
    <h1>Bienvenido a Twig {{ name }}</h1> 
    <h2>{% block subtitulo %}{% endblock %}</h2> 

    <div>
      {% block contenido %}
      {% endblock %}
    </div>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  <body> 
</html>